body {
    background-color: #0000;
    color: #ffffff;
    font-family: "times new roman", "sans-serif";
}

h1{
    font-size: 64px;
    padding: 10px;
    text-align: center;
}

h2{
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
    
}

p{
    font-size: 24px;
    padding-top: 15px;
}

img{
    display: block;             
    width: 550px;
    margin: auto; 
}

div{
    height: 150px;
    padding: 25px;
}

#red{
    background-color: #ff000f;
    text-align: right;
}

#blue{
    background-color: #000fff;
    text-align: left;

}

#yellow{
    background-color: #ffff00;
    text-align: right;
}

#yellow h2{
    color:  #0000;
    text-shadow: 4px 4px 2px #c7e2c7;
}

#yellow p{
    color:  #0000;
}

#green{
    background-color: #ffff00;
}

footer p{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}